/*
	This is a modified version of the software.
	You can find the original here:
	 http://www.linusakesson.net/dialog/aamachine/index.php
	You can find my fork here:
	 https://bitbucket.org/banepwn/aa-machine
*/

html {
}

body {
	background-color: #eeeeee;
	color: #000000;
}

#aacontainer {
	max-width: 32em;
	margin: auto;
	position: relative;
	line-height: 1.2em;
}

#aaouterstatus {
	padding-top: 20px;
	min-height: 1.3em;
}

#aastatusborder {
	height: .1em;
	background-color: #000;
	opacity: 0;
	animation-fill-mode: both;
}

#aastatus {
	padding-left: .3em;
	padding-right: .3em;
	font-family: Geneva, sans-serif;
	min-height: 1.3em;
	border-radius: .3em;
	overflow: hidden;
	display: none;
	animation-name: fadein;
	animation-duration: .9s;
	animation-delay: .1s;
	animation-fill-mode: both;
}

.aaprogress {
	background-color: #c4c4c4;
	height: .31em;
	border-top: .19em solid #d3d3d3;
}

.aaouterprogress {
	border-radius: .3em;
	border: .1em solid #ccc;
	margin-top: .3em;
	text-align: left;
	overflow: hidden;
}

#aamenubutton {
	height: 1.3em;
	width: 1.0em;
	float: right;
	margin-left: .3em;
	padding-right: .3em;
	position: relative;
}

#aamenulines {
	margin-top: .3em;
	width: 1.0em;
	height: .125em;
	border-top: .375em double #888;
	border-bottom: .125em solid #888;
	cursor: pointer;
	float: right;
}

#aamenulines:hover {
	border-color: #ddd;
}

.aacb {
	width: 1em;
	height: 1em;
	vertical-align: middle;
}

#aamenu {
	z-index: 1;
	display: none;
	position: relative;
	top: .5em;
	left: -8.6em;
	width: 9.7em;
	overflow: hidden;
	font-size: .8em;
}

#aamenulist {
	background-color: #cccccc;
	border: 2px solid #eee;
	border-radius: .3em;
	padding: .2em;
	z-index: 1;
}

#aamenulist div {
	margin: 1px;
	overflow: hidden;
}

#aamenulist div:hover {
	color: #eee;
}

#aaform {
	margin: 0;
}

#aamain {
	overflow-y: auto;
	font-family: Georgia, serif;
	height: 80%;
	margin: .3em;
	padding-right: 1.3em;
	clear: right;
	text-align: justify;
}

#aainput {
	width: 100%;
	border: none;
	outline: none;
	font-family: Georgia, serif;
	font-size: 1em;
	display: none;
	background-color: transparent;
	color: #000;
	padding: 0;
	height: 1.1em;
}

@keyframes fadein {
	0% {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

p {
	margin: 0;
	animation-name: fadein;
	animation-duration: .9s;
	animation-delay: .1s;
	animation-fill-mode: both;
	color: #000;
	width: 100%;
}

#aastatus p {
	animation-name: none;
	animation-duration: 0;
	animation-delay: 0;
}

a {
	text-decoration: inherit;
}

.aalink {
	color: #875;
}

.aalink:hover {
	color: #aa8;
}

#aaaboutouter {
	position: absolute;
	top: 20%;
	width: 100%;
	z-index: 2;
	display: none;
}

#aaaboutinner {
	background-color: #bbb;
	border: .1em solid black;
	border-radius: .3em;
	width: 20em;
	margin: auto;
	padding: 1em;
}

.aaaboutline {
	text-align: center;
}

#aaaboutmeta {
	white-space: pre-line;
}

img {
	max-width: 100%;
}
